body{
	padding: 0;
	border: 0;
	background-color: #ffff;
	
	background-size: cover;
	font-family: sans-serif;
}
h3{
	
	text-align: center;
	font-size: 30px;
	font-family: Lucida Console;
}
.loginbox{
	width:320px;
	height: 420px;
	background-color: #DAC47D;
	background-size: cover;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
	border-radius: 25px;
}
.loginbox p{
	margin: 0;
	padding: 10px;
	font-family: sans-serif;
}
.loginbox input{
	width: 93%;
	margin-bottom: 20px;
	margin-left: 10px;
	letter-spacing: 1px;
}
.loginbox input[type="email"], input[type="password"]{
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 25px;
	color: black;
	font-size: 16px;
	font-family: sans-serif;
}
.loginbox input[type="submit"]{
	border: none;
	outline: none;
	height: 50px;
	font-family: Lucida Console;
	background: #2C31E9;
	font-weight: bold;
	font-size: 19px;
	border-radius: 15px;
	color: #ffff;
}
.c1{
	font-size: 11px;
	padding-bottom: 10px;
}
.c2{
	font-size: 13px;
	text-align: center;
}
.loginbox input[type="submit"]:hover{
	cursor: pointer;
	background: #6367F7;
}

